/ Page Wrapper
#wrapper
  / Sidebar
  %ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    / Sidebar - Brand
    =render "shared/sidebar"

  / Content Wrapper
  #content-wrapper.d-flex.flex-column
    / Main Content
    #content

      / Begin Page Content
      .container-fluid.top-page
        / Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
          %h1.h3.mb-0.text-gray-800 Participantes
          %a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm{:href => "#"}
            %i.fas.fa-download.fa-sm.text-white-50
            Descargar datos

        / Content Row
        .row
          / Area Chart
          .col-xl-12.col-lg-12
            .card.shadow.mb-4
              / Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                %h6.m-0.font-weight-bold.text-primary Únicos
              / Card Body
              .card-body.long
                .chart-area
                  %iframe{:src => "#{@root_url}/utuw.html", width: "100%", height: "600px"}

        /Content Row
        .row
          / Area Chart
          .col-xl-6.col-lg-7
            .card.shadow.mb-4
              / Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                %h6.m-0.font-weight-bold.text-primary CONAGUA
              / Card Body
              .card-body
                .chart-area
                  =image_tag "heatmap1.png", class: "img-dashboard"


          .col-xl-6.col-lg-7
            .card.shadow.mb-4
              / Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                %h6.m-0.font-weight-bold.text-primary SCT
              / Card Body
              .card-body
                .chart-area
                  =image_tag "heatmap_2.png", class: "img-dashboard"


        /Content Row
        .row
          / Area Chart
          .col-xl-12.col-lg-12
            .card.shadow.mb-4
              / Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                %h6.m-0.font-weight-bold.text-primary CONAGUA
              / Card Body
              .card-body.long
                .chart-area
                  %iframe{:src => "#{@root_url}/conagua/index.html", width: "100%", height: "600px"}

        /Content Row
        .row
          / Area Chart
          .col-xl-12.col-lg-12
            .card.shadow.mb-4
              / Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                %h6.m-0.font-weight-bold.text-primary CFE
              / Card Body
              .card-body.long
                .chart-area
                  %iframe{:src => "#{@root_url}/cfe/index.html", width: "100%", height: "600px"}




    / End of Main Content
    / Footer
    %footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          %span Dataton anticorrupción 2019
    / End of Footer
  / End of Content Wrapper
/ End of Page Wrapper
/ Scroll to Top Button
%a.scroll-to-top.rounded{:href => "#page-top"}
  %i.fas.fa-angle-up
