%a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => "index.html"}
  .sidebar-brand-icon.rotate-n-15
  .sidebar-brand-text.mx-3
    DATA
    %sup Anticorrupción
/ Divider
%hr.sidebar-divider.my-0/
/ Nav Item - Dashboard
%li.nav-item{class: ("active" if @index==0)}
  %a.nav-link{:href => "#{root_path}"}
    %i.fas.fa-fw.fa-tachometer-alt
    %span Participantes
%hr.sidebar-divider.d-none.d-md-block/
%li.nav-item{class: ("active" if @index==1)}
  %a.nav-link{:href => "#{static_pages_reference_price_path}"}
    %i.fas.fa-fw.fa-chart-area
    %span Precios de referencia
%hr.sidebar-divider.d-none.d-md-block/
%li.nav-item{class: ("active" if @index==2)}
  %a.nav-link{:href =>"#{static_pages_sanctioned_path}"}
    %i.fas.fa-fw.fa-chart-area
    %span Particulares sancionado